VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

VITE_APP_NAME=Digital Mobility

VITE_MAP_PROVIDER=openstreetmap

VITE_NOMINATIM_URL=https://nominatim.openstreetmap.org
VITE_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png

VITE_DEFAULT_LAT=44.4268
VITE_DEFAULT_LNG=26.1025

VITE_ENABLE_DARK_MODE=true
